#include <os2.h>                        // OS/2 definitions
#include "slider.h"                     // Application defs

DLGTEMPLATE IDLG_SETTIME LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG  "Set Time to Wait", IDLG_SETTIME, 66, 27, 203, 64, 
          WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
  BEGIN
    CONTROL         "", IDSL_SETTIME_TIME, 15, 33, 173, 25, 
                    WC_SLIDER,
                    SLS_HORIZONTAL | SLS_BOTTOM | 
                    SLS_SNAPTOINCREMENT | SLS_BUTTONSRIGHT | 
                    SLS_HOMELEFT | SLS_PRIMARYSCALE1 | 
                    WS_GROUP | WS_TABSTOP | WS_VISIBLE
                    CTLDATA 12, 0, 91, 0, 0, 0
    DEFPUSHBUTTON   "OK", DID_OK, 33, 10, 48, 14, WS_GROUP
    PUSHBUTTON      "Cancel", DID_CANCEL, 113, 11, 48, 14, 
                    NOT WS_TABSTOP
  END
END


DLGTEMPLATE IDLG_PROGRESS LOADONCALL MOVEABLE DISCARDABLE
BEGIN
  DIALOG  "Percent Complete", IDLG_PROGRESS, 38, 57, 224, 73, 
          WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
  BEGIN
    CONTROL         "", IDSL_PROGRESS_BAR, 18, 23, 189, 40, 
                    WC_SLIDER, 
                    SLS_HORIZONTAL | SLS_CENTER | SLS_READONLY
                    SLS_RIBBONSTRIP | SLS_HOMELEFT | 
                    SLS_PRIMARYSCALE2 | 
                    WS_GROUP | WS_TABSTOP | WS_VISIBLE
                    CTLDATA 12, 0, 101, 0, 101, 0
    PUSHBUTTON      "Cancel", DID_CANCEL, 93, 4, 40, 14
  END
END
